<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title th:text="#{common.header.title}">Stack Overflow Clone</title>
    <link th:replace="~{fragments/styles}">
</head>
<body class="d-flex flex-column h-100">
<header>
    <div th:replace="~{fragments/navigation}"></div>
</header>
<main class="d-flex h-100">
    <div class="container-fluid">
        <div class="row d-flex h-auto">
            <div class="col-lg-3 col-md-3">
                <div th:replace="~{fragments/sidebar :: sidebar}"></div>
            </div>
            <div class="col-lg-7 col-md-9 bg-white shadow p-0 h-auto">
                <div class="content h-auto">
                    <div class="content-header mt-4 mx-4">
                        <div class="section-title mb-3 clearfix">
                            <div class="h3 font-weight-normal float-left" th:text="#{question.list.title}">Questions</div>
                            <a class="float-right btn btn-primary" th:text="#{question.action.new}"
                               th:href="@{/questions/new}">Ask Question</a>
                        </div>
                        <div class="search-form-wrapper mb-3 d-flex justify-content-between">
                            <div class="h5 font-weight-normal" th:text="${questions.getTotalElements()} + ' questions'"></div>
                            <div class="buttons">
                                <div class="btn-group mr-2" role="group">
                                    <button class="btn btn-outline-secondary" type="button">Newest</button>
                                    <button class="btn btn-outline-secondary" type="button">Active</button>
                                    <button class="btn btn-outline-secondary" type="button">Unanswered</button>
                                    <button class="btn btn-outline-secondary" type="button">Votes</button>
                                </div>
                                <button class="btn btn-info" type="button">Filter</button>
                            </div>
                        </div>
                    </div>

                    <div class="questions-list-container border-top">

                        <div class="d-flex float-none question-info px-2 py-3 border-bottom" th:each="question : ${questions}">

                            <div class="stats-container text-muted text-center ml-1 mr-3">
                                <div class="stats">
                                    <div class="vote">
                                        <div class="votes">
                                            <span class="vote-count-post h5">
                                                <strong>0</strong>
                                            </span>
                                            <div class="viewcount small">votes</div>
                                        </div>
                                    </div>
                                    <div class="status unanswered">
                                        <span class="answers-count-post h5">
                                            <strong>0</strong>
                                        </span>
                                        <div class="small">
                                            answers
                                        </div>
                                    </div>
                                </div>
                                <div class="views small">
                                    4 views
                                </div>
                            </div>


                            <div class="question-summary">
                                <a class="text-info h6" th:href="${'/questions/' + question.id}"
                                   th:text="${question.title}"></a>
                                <div th:text="${question.body}"></div>

                                <div class="float-left">
                                    <div class="d-inline-block" th:each="tag : ${question.tags}">
                                        <a class="mr-1 bg-light small rounded p-1 text-info" th:href="${'/tags/' + tag.id}"
                                           th:text="${tag.name}"></a>
                                    </div>
                                </div>
                                <div class="user-info float-right w-25">
                                    <div class="text-muted small user-action-time">
                                        asked 8 hours ago
                                    </div>

                                    <div class="user-gravatar float-left">
                                        <img th:src="${question.author.avatar}"
                                             th:alt="${'user-avatar-' + question.author.id}">
                                    </div>
                                    <div class="user-details float-left ml-2 small">
                                        <a th:href="${'/accounts/' + question.author.id}"
                                           th:text="${question.author.name}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${questions.getTotalPages() > 1}" class="pagination float-right mr-4 mt-4">
                        <nav aria-label="Page navigation">
                            <ul class="pagination pagination-sm">
                                <li class="page-item"
                                    th:each="i: ${#numbers.sequence(1, questions.getTotalPages())}"
                                    th:classappend="${questions.getNumber() == i - 1} ? active">
                                    <a th:href="@{/questions(page=${i}-1)}" th:text="${i}"
                                       class="page-link"></a>
                                </li>

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>

</body>
</html>