<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title th:text="#{common.header.title}">Stack Overflow Clone</title>
    <link th:replace="~{fragments/styles}">
</head>
<body class="d-flex flex-column h-100">
<header>
    <div th:replace="~{fragments/navigation}"></div>
</header>
<main class="d-flex h-100">
    <div class="container-fluid">
        <div class="row d-flex h-100">
            <div class="col-lg-2 col-md-3">
                <div th:replace="~{fragments/sidebar :: sidebar}"></div>
            </div>
            <div class="col-lg-8 col-md-9 bg-white shadow p-0">
                <div class="content m-4">

                    <div class="content-header">
                        <div class="section-title mb-3">
                            <div class="h3 font-weight-normal" th:text="#{tag.list.title}">Tags</div>
                        </div>
                        <p class="small">
                            A tag is a keyword or label that categorizes your question with other, similar questions.
                            Using the right tags makes it easier for others to find and answer your question.
                        </p>
                        <div class="search-form-wrapper mb-3 d-flex justify-content-between">
                            <form action="#" class="form-inline d-inline-block">
                                <label for="search"></label>
                                <input type="text" id="search" placeholder="Filter by tag name" class="form-control">
                            </form>
                            <div class="btn-group align-self-end" role="group">
                                <button type="button" class="btn btn-outline-secondary">Popular</button>
                                <button type="button" class="btn btn-outline-secondary">Name</button>
                            </div>
                        </div>
                    </div>

                    <div class="tags-list-container">

                        <div class="d-flex flex-wrap">
                            <div class="d-inline-block w-25 mb-4" th:each="tag : ${tags}">
                                <div class="tag-header">
                                    <a class="bg-light small rounded p-1 text-info" th:href="${'/tags/' + tag.id}"
                                       th:text="${tag.name}"></a>
                                    <span class="text-muted small" th:text="'× ' + ${tag.questions.size()}"></span>
                                </div>
                                <div class="tag-description text-muted small" th:text="${tag.description}"></div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>

</body>
</html>