body {
    background:  url("/public/images/image-background.jpg");
}
.form-wrapper {
    background: white;
    border-radius: 10px;
    padding: 10px;
}

.nav-links {
    list-style: none;
}

.nav-item > a:active {
    color: #0c0d0e;
}

.nav-item > a {
    color: #535a60;
}

.footer-container a {
    color: #535a60;
}

.question-summary > a:hover {
    text-decoration: none;
}

.question-summary a:hover {
    text-decoration: none;
}

.question-summary .user-info a {
    color: #5bc0de;
}