<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru">
<body>
    <div th:fragment="footer" class="footer-container">
        <div class="container mt-3">
            <div class="row justify-content-center my-3">
                <div class="col">
                    <div><a href="#">Tour</a></div>
                    <div><a href="#">Help</a></div>
                    <div><a href="#">Chat</a></div>
                    <div><a href="#">Contact</a></div>
                    <div><a href="#">Feedback</a></div>
                </div>
                <div class="col">
                    <div><a href="#">About</a></div>
                    <div><a href="#">Press</a></div>
                    <div><a href="#">Legal</a></div>
                    <div><a href="#">Private Policy</a></div>
                </div>
                <div class="col">
                    <div><a href="#">Technology</a></div>
                    <div><a href="#">Life / Arts</a></div>
                    <div><a href="#">Science</a></div>
                    <div><a href="#">Other</a></div>
                </div>
                <div class="col">
                    <div><a href="#">Developer jobs</a></div>
                    <div><a href="#">Mobile</a></div>
                    <div><a href="#">Culture / Recreation</a></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>