<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      lang="ru">
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" th:fragment="navbar-dark">
        <a href="/" class="navbar-brand" th:text="#{common.header.title}">stack overflow clone</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarLeft"
                aria-controls="navbarLeft"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarLeft">
            <ul class="d-md-none navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item"
                    th:classappend="${module == 'index' ? 'active' : ''}">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item"
                    th:classappend="${module == 'questions' ? 'active' : ''}">
                    <a href="/questions" class="nav-link">Questions</a>
                </li>
                <li class="nav-item"
                    th:classappend="${module == 'accounts' ? 'active' : ''}">
                    <a href="/accounts" class="nav-link">Users</a>
                </li>
                <li class="nav-item"
                    th:classappend="${module == 'tags' ? 'active' : ''}">
                    <a href="/tags" class="nav-link">Tags</a>
                </li>
            </ul>
<!--            <form action="#" class="form-inline my-2 my-lg-0">-->
<!--                <input type="search" placeholder="Search" aria-label="Search" class="form-control mr-sm-2">-->
<!--            </form>-->
            <div class="ml-auto">
                <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()" class="form-inline">
                    <input type="submit" th:value="#{common.header.logout}" class="btn btn-primary"/>
                </form>
                <a sec:authorize="!isAuthenticated()" href="/login" class="btn btn-info mr-2">Log in</a>
                <a sec:authorize="!isAuthenticated()" href="/registration" class="btn btn-primary">Sign up</a>
            </div>
        </div>
    </nav>
</body>
</html>