<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<body>
    <div th:fragment="sidebar" class="left-sidebar w-auto float-right">
        <ul class="nav-links">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/questions" class="nav-link">Questions</a>
            </li>
            <li class="nav-item">
                <a href="/accounts" class="nav-link">Users</a>
            </li>
            <li class="nav-item">
                <a href="/tags" class="nav-link">Tags</a>
            </li>
        </ul>
    </div>
</body>
</html>