<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<body>
    <div th:fragment="sidebar" class="left-sidebar float-right sticky-top mt-3">
        <ul class="nav-links pl-0">
            <li class="nav-item pr-4"
                th:classappend="${module == 'index' ? 'active border-right border-info' : ''}">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item pr-4"
                th:classappend="${module == 'questions' ? 'active border-right border-info' : ''}">
                <a href="/questions" class="nav-link">Questions</a>
            </li>
            <li class="nav-item pr-4"
                th:classappend="${module == 'accounts' ? 'active border-right border-info' : ''}">
                <a href="/accounts" class="nav-link">Users</a>
            </li>
            <li class="nav-item pr-4"
                th:classappend="${module == 'tags' ? 'active border-right border-info' : ''}">
                <a href="/tags" class="nav-link">Tags</a>
            </li>
        </ul>
    </div>
</body>
</html>