<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      lang="ru" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title th:text="#{common.header.title}">Stack Overflow Clone</title>
    <link th:replace="~{fragments/styles}">
</head>
<body class="d-flex flex-column h-100">
<header>
    <div th:replace="~{fragments/navigation}"></div>
</header>
<main class="d-flex flex-column flex-grow-1">
    <div class="container-fluid d-flex flex-column flex-grow-1">
        <div class="row d-flex flex-grow-1">
            <div class="col-md-2 col-lg-2 offset-lg-1 d-none d-md-block pr-0">
                <div th:replace="~{fragments/sidebar :: sidebar}"></div>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 bg-white border p-0 h-auto">
                <div class="content mx-4 mt-4">
                    <div th:replace="~{fragments/profile-tabs :: profile-tabs}"></div>
                    <div class="account-view d-flex p-4">
                        <div class="avatar-card p-3 rounded border">
                            <div th:if="${account.avatar}" class="user-avatar">
                                <img th:src="@{'data:image/jpeg;base64,' + ${account.avatar.data}}" alt="">
                            </div>
                        </div>
                        <div class="profile ml-3">
                            <div class="content-header">
                                <div class="h2" th:text="${account.name}"></div>
                            </div>
                            <div th:if="${#authentication.getPrincipal().getUsername() == account.email}">
                                <a th:href="${'/accounts/edit/' + account.id}">Click here to edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>

</body>
</html>