<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title th:text="#{common.header.title}">Stack Overflow Clone</title>
    <link th:replace="~{fragments/styles}">
</head>
<body class="d-flex flex-column h-100">
<header>
    <div th:replace="~{fragments/navigation}"></div>
</header>
<main class="d-flex h-100">
    <div class="container-fluid">
        <div class="row d-flex h-100">
            <div class="col-lg-3 col-md-3">
                <div th:replace="~{fragments/sidebar :: sidebar}"></div>
            </div>
            <div class="col-lg-7 col-md-9 bg-white shadow p-0">
                <div class="content">
                    <div class="content-header mt-4 mx-4">
                        <div class="section-title mb-3">
                            <div class="h3 font-weight-normal" th:text="#{user.list.title}">Users</div>
                        </div>
                        <div class="search-form-wrapper mb-5 d-flex justify-content-between">
                            <form action="#" class="form-inline d-inline-block">
                                <label for="search"></label>
                                <input type="text" id="search" placeholder="Filter by user" class="form-control">
                            </form>
                            <div class="btn-group" role="group">
                                <button class="btn btn-outline-secondary" type="button">Reputation</button>
                                <button class="btn btn-outline-secondary" type="button">New Users</button>
                                <button class="btn btn-outline-secondary" type="button">Voters</button>
                                <button class="btn btn-outline-secondary" type="button">Editors</button>
                                <button class="btn btn-outline-secondary" type="button">Moderators</button>
                            </div>
                        </div>
                    </div>
                    <div class="user-browser m-4">
                        <div class="d-flex flex-wrap">
                            <div class="user-info w-25 mb-4" th:each="account : ${accounts}">
                                <div class="user-gravatar float-left">
                                    <img th:src="@{'data:image/jpeg;base64,' + ${account.avatar.data}}"
                                        src="#" th:alt="${account.name}" alt="avatar">
                                </div>
                                <div class="user-details float-left ml-2">
                                    <a th:href="${'/accounts/' + account.id}"
                                       class="text-info" th:text="${account.name}"></a>

                                </div>
                                <div class="user-tags"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
    <div th:replace="~{fragments/footer :: footer}"></div>
</footer>

</body>
</html>