<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="ru" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title th:text="#{common.header.title}">Stack Overflow Clone</title>
    <link th:replace="~{fragments/styles}">
</head>
<body class="d-flex flex-column h-100">
<header>
    <div th:replace="~{fragments/navigation}"></div>
</header>
<main class="d-flex h-100">
    <div class="container">
        <div class="row d-flex h-100">
            <div class="col-md-3 col-lg-2">
                <div class="left-sidebar mt-3">
                    <nav role="navigation">
                        <ul class="nav-links">
                            <li class="nav-item">
                                <a href="/accounts" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="/questions" class="nav-link">Questions</a>
                            </li>
                            <li class="nav-item">
                                <a href="/accounts" class="nav-link">Users</a>
                            </li>
                            <li class="nav-item">
                                <a href="/accounts" class="nav-link">Tags</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
            <div class="col-md-9 col-lg-10 bg-white shadow">
                <div class="content m-3 ">
                    <div class="section-title mb-3"><h3>Users</h3></div>
                    <div class="search-form-wrapper mb-3">
                        <form action="#" class="form-inline">
                            <label for="search"></label>
                            <input type="text" id="search" placeholder="Filter by user" class="form-control">
                        </form>
                    </div>
                    <div class="user-browser">
                        <div class="d-flex flex-wrap">
                            <div class="user-info w-25 mb-2" th:each="account : ${accounts}">
                                <div class="user-gravatar">
                                    <img th:src="${account.avatar}" src="#" th:alt="${account.name}" alt="avatar">
                                </div>
                                <div class="user-details">
                                    <div th:text="${account.name}"></div>
                                    <div th:text="${account.email}"></div>
                                </div>
                                <div class="user-tags"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
<!--    <footer class="footer mt-auto">-->
    <div class="footer-container">
        <div class="container mt-3">
            <div class="row justify-content-center my-3">
                <div class="col">
                    <div><a href="#">Tour</a></div>
                    <div><a href="#">Help</a></div>
                    <div><a href="#">Chat</a></div>
                    <div><a href="#">Contact</a></div>
                    <div><a href="#">Feedback</a></div>
                </div>
                <div class="col">
                    <div><a href="#">About</a></div>
                    <div><a href="#">Press</a></div>
                    <div><a href="#">Legal</a></div>
                    <div><a href="#">Private Policy</a></div>
                </div>
                <div class="col">
                    <div><a href="#">Technology</a></div>
                    <div><a href="#">Life / Arts</a></div>
                    <div><a href="#">Science</a></div>
                    <div><a href="#">Other</a></div>
                </div>
                <div class="col">
                    <div><a href="#">Developer jobs</a></div>
                    <div><a href="#">Mobile</a></div>
                    <div><a href="#">Culture / Recreation</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>